* {
    margin: 9%;
    box-sizing: border-box;
}

body {
    background-color: gray;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    border: solid black 10px;
}

#resultado {
    font-size: 170px;
}

.add {
    font-size: 32px;
    text-align: right;
    border-radius: 5px;
    background-color: blue;
    border: solid black;
}

.dim {
    font-size: 32px;
    text-align: left;
    border-radius: 5px;
    background-color: red;
    border: solid black
}

.clear {
    font-size: 45px;
    text-align: center;
    border-radius: 5px;
}

.titulo {
    font-size: 80px;
}